body{margin: 0;position: relative;font-family: 'Helvetica Neue Light', Helvetica, 'Heiti TC Light', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;-webkit-font-smoothing:antialiased;background-color: #000;}
.hide{display: none;}

.frame{width: 320px;height: 568px;background-size: 320px 568px;overflow: hidden;position: absolute;top: 0;left: 50%;margin-left: -160px;opacity: 0;
	transition:all .5s ease;-webkit-transition:all .5s ease;
	/*transform:translateX(100%);-webkit-transform:translateX(100%);*/
}
.btn-back{position: absolute;top: 28px;left: 8px;width: 52px;height: 28px;}

.frame1{background-image: url(img/frame21@2x.png);opacity: 1;
	transform:translateX(0px);-webkit-transform:translateX(0px);}
.frame1-banner{position: absolute;top: 154px;width: 320px;height: 120px;}

.frame2{background-image: url(img/frame22@2x.png);opacity: 1;}
.frame2-time-wrap{position: absolute;top: 88px;left: 116px;width: 92px;height: 17px;font-size: 13px;line-height: 17px;}
.frame2-hour,
.frame2-minute,
.frame2-second{float: left;width: 24px;height: 17px;letter-spacing: 5px;color: #640486;}
.frame2-minute,
.frame2-second{margin-left: 10px;}
.frame2-btn-baizhi{background-image: url(img/frame22-btn-baizhi@2x.png);width: 119px;height: 32px;background-size: 119px 32px;
position: absolute;top: 412px;left: 5px;}
.frame2-btn-baizhi:active{background-image: url(img/frame22-btn-baizhi-hover@2x.png);}
.frame2-num1,.frame2-num2{position: absolute;top: 450px;font-style: italic;margin: 0;}
.frame2-num1{left: 32px;color: #2cbbf6;}
.frame2-num2{right: 32px;color: #ffd200;}
.frame2-friend-support{background-image: url(img/frame22-friend-tips@2x.png);width: 110px;height: 44px;background-size: 110px 44px;
position: absolute;top: 483px;left: 0;}
.frame2-friend-avatar{background-image: url(img/frame22-friend-avatar@2x.png);width: 33px;height: 33px;background-size: 33px 33px;
position: absolute;top: 5px;left: 71px;}

.frame3{background-image: url(img/frame23@2x.png);opacity: 1;}
.frame3-choose{position: absolute;top: 479px;left: 14px;width: 22px;height: 22px;}
.frame3-icon-choose{width: 20px;height: 16px;background-size: 20px 16px;background-image: url(img/frame4-icon-choose@2x.png);position: absolute;top: 478px;left: 19px;}
.frame3-btn-ok{width: 100px;height: 40px;position: absolute;left: 50%;margin-left: -50px;bottom: 10px;}

.frame4{background-image: url(img/frame24@2x.png);opacity: 1;}
.frame4-btn-pay{position: absolute;top: 459px;left: 10px;width: 300px;height: 44px;}
.frame4-btn-pay:active{background-color: rgba(0,0,0,0.2);}
.frame4-cover{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.68);opacity: 0;}
.frame4-dialog{background-image: url(img/frame5-dialog@2x.png);width: 280px;height: 210px;background-size: 280px 210px;position: absolute;top: -210px;left: 50%;margin-left: -140px;
	transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;}
.frame4-keyboard{background-image: url(img/frame5-keyboard@2x.png);width: 320px;height: 216px;background-size: 320px 216px;position: absolute;bottom: -216px;left: 0;
	transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;}
.frame4-dialog-code1{width: 12px;height: 12px;border-radius: 6px;background-color: #000;position: absolute;top: 181px;left: 52px;}
.frame4-dialog-code2{width: 12px;height: 12px;border-radius: 6px;background-color: #000;position: absolute;top: 181px;left: 93px;}
.frame4-dialog-code3{width: 12px;height: 12px;border-radius: 6px;background-color: #000;position: absolute;top: 181px;left: 133px;}
.frame4-dialog-code4{width: 12px;height: 12px;border-radius: 6px;background-color: #000;position: absolute;top: 181px;left: 174px;}
.frame4-dialog-code5{width: 12px;height: 12px;border-radius: 6px;background-color: #000;position: absolute;top: 181px;left: 216px;}
.frame4-dialog-code6{width: 12px;height: 12px;border-radius: 6px;background-color: #000;position: absolute;top: 181px;left: 257px;}
.frame4-keyboard-code1{width: 105px;height: 54px;position: absolute;bottom: 162px;left: 0px;background-color: rgba(213, 217, 220,0.5)}
.frame4-keyboard-code2{width: 111px;height: 54px;position: absolute;bottom: 162px;left: 105px;background-color: rgba(213, 217, 220,0.5)}
.frame4-keyboard-code3{width: 105px;height: 54px;position: absolute;bottom: 162px;left: 215px;background-color: rgba(213, 217, 220,0.5)}
.frame4-keyboard-code4{width: 105px;height: 54px;position: absolute;bottom: 108px;left: 0px;background-color: rgba(213, 217, 220,0.5)}
.frame4-keyboard-code5{width: 111px;height: 54px;position: absolute;bottom: 108px;left: 105px;background-color: rgba(213, 217, 220,0.5)}
.frame4-keyboard-code6{width: 105px;height: 54px;position: absolute;bottom: 108px;left: 215px;background-color: rgba(213, 217, 220,0.5)}

.frame5{background-image: url(img/frame25@2x.png);opacity: 1;}
.frame5-cover{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.68);opacity: 1;}
.frame5-option{background-image: url(img/frame25-option@2x.png);width: 320px;height: 416px;background-size: 320px 416px;position: absolute;left: 0;bottom: 0;}
.frame5-btn-share{position: absolute;left: 133px;top: 286px;width: 55px;height: 55px;}
.frame5-icon-share{background-image: url(img/frame25-icon-share@2x.png);width: 55px;height: 55px;background-size: 55px 55px;position: absolute;left: 132px;top: 286px;}

.frame6{background-image: url(img/frame7@2x.png);opacity: 1;}
.frame6-select{background-image: url(img/frame7-select@2x.png);width: 320px;height: 56px;background-size: 320px 56px;position: absolute;left: 0;top: 184px;}
.frame6-btn-select{width: 320px;height: 56px;position: absolute;left: 0;top: 184px;}

.frame7{background-image: url(img/frame8@2x.png);opacity: 1;}
.frame7-msg{background-image: url(img/frame27-msg@2x.png);width: 267px;height: 111px;background-size: 267px 111px;position: absolute;left: 44px;bottom: -111px;
	transition:all .4s ease-in-out;-webkit-transition:all .4s ease-in-out;}
.frame7-link{position: absolute;left: 44px;bottom: 195px;width: 267px;height: 111px;}

.frame8{background-image: url(img/frame28@2x.png);opacity: 1;}
